//color
$p_c-orange: #f78850;
$p_c-darkorange: #d55a2f;
$p_c-blue: #84dccc;
$p_c-lightblue: #aff7da;
$p_c-darkblue: #76c4b6;
$p_c-white: #ffffe6;
$p_c-darkwhite: #f5f0d2;
$p_c-black: #26160b;
$p_c-lightblack: #766c58;
$p_c-gray: #e6e6d2;
$p_c-lightgray: #f0f0dc;
$p_c-brown: #8c6239;
$p_c-yellow: #f5bd15;

$bp-max: 1920px;
$bp-mid: 540px;
$bp-min: 320px;

$h-min: 320px;
